<div class="container-fluid">
    <div class="row">
        <div style="background-color: #303030; height:100vh;" class="col-md-3">
            <mat-card style="background-color: azure;" class="mt-3"> 
                <form [formGroup]="todoForm" >
                    <mat-form-field  appearance="outline">
                        <mat-label>Outline form field</mat-label>
                        <input formControlName="item" style="height: 70px;" matInput placeholder="Placeholder">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                    <button mat-raised-button [disabled]="todoForm.invalid" color="primary" type="submit">Add</button> 
                </form>
            </mat-card>

        </div>
        <div class="col-md-9">

        </div>

    </div>
</div>